<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="frames/authenticated :: head(~{::title},~{::link},~{::script},_)">
    <title>Aduan</title>
    <link href="../static/css/location.css" th:href="@{/css/location.css}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width">
    <script src="../static/js/maps/location2.js" th:src="@{/js/maps/location2.js}" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEP_gPDG5-Dm3rb2Ksfy2BCsh5rAlHgd4&callback=setGoogleMapLoaded"></script>
    
</head>
<body>
	<input id="gender" type="hidden" name="gender" value="FEMALE" th:value="FEMALE" />
	<div id="google-maps-container" class="col-4">
	</div>
</body>
</html>