#google-maps-container {
  height: 200px;
  border: 4px solid #4ac89b;
  border-radius: 8px;
}

#last-address-search {
  text-align: center;
  width: 150px;
  border: none;
  border-bottom: 1px solid #4ac89b;
  border-radius: 0;
}

#last-mile-radius-search {
  text-align: center;
  border: none;
  width: 35px;
  border-bottom: 1px solid #4ac89b;
  border-radius: 0;
  height: 20px;
  font-size: 16px;
}

#arrow-right-2 {
  position: absolute;
  top: -25px;
  right: -40px;
}