.drop-dwn{
    background:#4ac89b;
    overflow:hidden;
    clear:both;
    /*width:75%;
    float:left;*/
}
/*.drop-dwn:before{
    position: absolute;
    background: url(../images/arrow.png) no-repeat top left;
    right: -99999px;
    top: 45%;
    left: 182px;
    content: '';
    z-index: 999999;
    margin: -5px 0 0;
    width: 100px;
    height: 50px;
}*/

.example-section{
    color:#000;
    background:#4ef8ba;
    padding: 15px 25px;
    font-size:18px;
    font-weight:300;
    width:35%;
    float:left;
}
.example-section p{
    padding:0 20px;
}
.example-section ul{
    list-style:none;
    margin-left:20px;
    margin-top:10px;
}
.example-section ul li{
    color:#000;
    line-height:32px;
    border-bottom:1px solid #8d9a42;
}
.example-section ul li a{
    color:#000;
    font-weight:600;
    font-size:20px;
    text-transform:uppercase;
    text-decoration:none;
}
.example-section ul li a img{
    vertical-align:middle;
    padding-left:10px;
    width:18px;
}

.details-record{
    width:65%;
    float:left;
}
.details-record p{
    text-align:center;
    color:#fff;
    font-size:18px;
    line-height:28px;
    font-weight:300;
    padding:15px;
}
.details-record .recording{
    width:100%;
    margin-bottom: 10px;
}
.details-record .recording .language{
    /*width:33%;*/
    padding:10px 30px;
    /*float:left;*/
}

.details-record .recording .record-btn{
    width:25%;
    float:left;
}
.record-btn img{
    margin:0 auto;
    width:115px;
}
.details-record .recording .timer{
    width:31%;
    float:right;
}
.timer span{
    color:#fff;
    font-size:18px;
    font-weight:300;
    text-align:center;
    display:block;
    border-bottom:1px solid #fff;
    margin-top:45px;
}

.round-button {
    cursor: pointer;
    width:100px;
    display: inline-block;
    /*margin-left: 30px;*/
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:4px solid #cfdcec;
    overflow:hidden;
    box-shadow: 0 0 3px gray;
}
.round-button-circle-red{
    background: #fa4a4a;
}
.round-button-circle-red:hover {
    background:#ca3636;
}
.round-button-circle-green{
    background: #5fba7d;
}
.round-button-circle-green:hover {
    background: #0eaa67;
}
.round-button-div {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn-blue{
    color: #ffffff;
    background: #3498db;
}

.btn-blue:disabled{
    color: #ffffff;
    background: #83827b;
}

.btn-gray{
    color: #ffffff;
    background: #505050;
}

.btn:hover:enabled {
    text-decoration: none;
}

.btn-blue:hover:enabled{
    background: #3cb0fd;
}

.btn-gray:hover:enabled{
    background: #505050;
}

.record-btn-container, .recording-actions, .language{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}